@import "./variables.scss";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

//App
body {
  background-color: $color-primary;
  @media (min-width: 768px) {
    height: 100vh;
    background-image: url("../images/planet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main {
  width: 300px;
  background-color: white;
  margin: auto;
  box-shadow: #c7d463 0 0 10px 5px;
  border-radius: 20px;
  padding-bottom: 20px;
  @media (min-width: 768px) {
    width: 700px;
    height: 80vh;
    padding: 0 25px 50px 25px;
    margin: auto;
  }
  @media (min-width: 1200px) {
    width: 1190px;
    // height: 710px;
  }
  &__box {
    height: 100%;
    @media (min-width: 768px) {
      padding: 15px;
      overflow-y: auto;
    }
  }
}

.character-missing {
  text-align: center;
  padding-top: 20px;
  &__text {
    font-size: 30px;
    font-family: $font-secondary;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__image {
    height: 300px;
    @media (min-width: 768px) {
      height: 500px;
    }
  }
}
