// Fonts
$font-primary: "Nerko One", cursive;
$font-secondary: "Open Sans", sans-serif;

// Colors
$color-primary: #028a7c;
$color-secondary: #8eb4db;
$color-tertiary: #181818;
$color-quaternary: #ae5060;
