@import "../../stylesheet/variables.scss";

.browse {
  &__form {
    padding: 40px 0 20px 0;
    text-align: center;
    @media (min-width: 768px) {
      text-align: unset;
      padding-top: unset;
      padding-bottom: 30px;
    }
    &__label {
      font-family: $font-primary;
      font-size: 30px;
      color: $color-primary;
      margin-top: 25px;
      margin: 0 15px;
    }
    &__input {
      font-family: $font-secondary;
      font-size: 16px;
      padding: 5px 10px;
      border: solid 2px $color-primary;
      margin: 20px;
      @media (min-width: 768px) {
        width: 297px;
      }
      &:focus {
        outline: $color-quaternary solid 2px;
      }
    }
  }
}
